.customer-modal {
  position: fixed;
  top: 20%;
  left: 35%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 101;
  width: 50%;
  max-height: 60%;
  overflow-y: auto;

}
.customer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.customer-modal h2 {
  margin-bottom: 15px;
  text-align: center;
}

.customer-modal input {
  width: 100%;
  margin: 5px 0 10px;
  padding: 10px;
  font-size: 16px;
}

.customer-modal table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.customer-modal th, .customer-modal td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.button-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.button-row button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
