.exit-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(201, 195, 195, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.exit-modal {
  background-color: rgb(245, 241, 241);
  color: rgb(93, 1, 45);
  border: 2px solid #e63146;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 0 10px #6c44ed;
}

.exit-modal-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.exit-modal-message {
  font-size: 18px;
  margin-bottom: 20px;
}

.exit-modal-buttons {
  display: flex;
  justify-content: space-around;
}

/* Shared styles */
.exit-btn {
  padding: 10px 30px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

/* ❌ No button - Red */
.exit-btn.no {
  background-color: #dc3545;
  color: white;
  border: 2px solid #dc3545;
}

/* ✅ Yes button - Green */
.exit-btn.yes {
  background-color: #28a745;
  color: white;
  border: 2px solid #28a745;
}

.exit-btn.no:hover {
  background-color: #b02a37;
}

.exit-btn.yes:hover {
  background-color: #1e7e34;
}
