.options-modal {
  position: fixed;
  top: 15%;
  left: 30%;
  width: 40%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(235, 7, 34, 0.3);
  z-index: 1001;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.options-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(12, 23, 104);
  color: white;
  padding: 10px 15px;
  border-radius: 8px 8px 0 0;
}

.options-header h2 {
  margin: 0;
  font-size: 20px;
}

.close-button {
  background: red;
  border: none;
  color: rgb(239, 44, 44);
  font-size: 18px;
  cursor: pointer;
}

.options-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.options-buttons button {
  padding: 10px;
  font-size: 16px;
  background: #c3bed6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-buttons button:hover {
  background: #1035da;
}

.icon {
  margin-left: 10px;
}

.options-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.port-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.port-input {
  padding: 5px;
  width: 100px;
  font-size: 14px;
}
