
.pos-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  background-color: #e9b4da;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.pos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b30877;
  color: white;
  padding: 10px 20px;
}

.pos-title {
  font-size: 12px;
  font-weight: bold;
}

.pos-meta span {
  margin-right: 10px;
}

.pos-controls svg {
  margin-left: 12px;
  cursor: pointer;
}

.pos-main {
  display: flex;
  flex: 1;
  margin-top: 10px;
}

.pos-left {
  flex: 3;
  padding: 10px;
}

.barcode-input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.item-table-header {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background: #a4a4b9;
  padding: 8px;
  font-weight: bold;
  font-size: 14px;
}

.item-list {
  height: 310px;
  background: white;
  overflow-y: auto;
  margin-top: 10px;
}

.totals-section {
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
}

.totals-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.totals-label {
  width: 80px;
  font-weight: bold;
}

.totals-value {
  width: 100px;
  margin-right: 20px;
}



.totals-row input {
  width: 100px;
  margin-right: 20px;
  padding: 4px 6px;
}
.totals-section div {
  display: flex;
  justify-content: space-between;
  align-items: center;  /* Align vertically */
  margin-bottom: 7px;  /* Increase space between rows */
}

.totals-section input {
  width: 90px;         /* Wider input */
  padding: 25 px;        /* Bigger input height */
  font-size: 18px;      /* Larger text */
}


.highlight-total {
  color: red;
  font-weight: bold;
}
.function-keys {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px ;
}

.function-keys button {
  padding: 20px;
  font-size: 18px;
  background-color: #360bac;
  color: white;
  border: none;
  cursor: pointer;
}

.function-keys .green {
  background-color: green;
}

.function-keys button:hover {
  background-color: #ece5e5;
}

.pos-right {
  flex: 1.4;
  background: #dcddec;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quick-fields button {
  width: 50%;
  padding: 20px;
  margin-bottom: 5px;
  font-size: 18px;
  background-color: #1008ae;
  color: white;
  border: 1.5px solid #d4dec7;
  cursor: pointer;
}

.clear-button {
  display: block;
  width: 100% !important;
  padding: 25px;
  font-size: 20px;
  background: #df3a1d !important;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  cursor: pointer;
}


.calculator {
  background-color: #e6f0ff;
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 600px;
}

.calc-display {
  width: 100%;
  padding: 10px;
  font-size: 35px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1.5px solid #1c1596;
  text-align: right;
  background: white;
}

.calc-body {
  display: flex;
}

.calc-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  flex: 3;
}

.calc-buttons button {
  border: none;
  border-radius: 50%;
  height: 52px;
  width: 45px;
  background-color: rgb(156, 81, 227);
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(37, 86, 94, 0.2);
}

.enter-button {
  flex: 1;
  background-color: #ad4a08;
  color: rgb(237, 228, 228);
  border: none;
  border-radius: 15px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 25px;
  padding: 10px 5px;
  cursor: pointer;
}
.keyboard-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f1f1f1;
  z-index: 9999;
  padding: 10px;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.2);
}
