/* src/components/PriceModal.css */
.price-modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-modal-box {
  width: 350px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px #000;
}

.price-modal-header {
  background: limegreen;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.price-input-section {
  padding: 10px;
}

.price-input-section input {
  width: 100%;
  font-size: 20px;
  padding: 8px;
  margin-top: 5px;
  text-align: right;
}

.price-keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 10px;
}

.price-keypad button {
  font-size: 18px;
  padding: 10px;
  background: #e0e0e0;
  border: none;
  cursor: pointer;
}

.price-modal-actions {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}


.ok-btn {
  background: #2ecc71;
  color: white;
  padding: 8px 16px;
  border: none;
}

.cancel-btn {
  background: #e74c3c;
  color: white;
  padding: 8px 16px;
  border: none;
}
 .price-options {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.option-line {
  display: flex;
  align-items: center;
  gap: 10px;
}
