.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex; justify-content: center; align-items: center;
}

.product-modal {
  background: #fff;
  width: 900px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}
.selected-row {
  background-color: #e0f7fa;
  font-weight: bold;
  cursor: pointer;
}


.modal-header {
  display: flex;
  justify-content: space-between;
  background: #1976d2;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
}

.close-icon {
  background: none;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.modal-filters {
  display: flex;
  gap: 10px;
  padding: 10px 0;
}

.modal-filters input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.arabic {
  display: inline-block;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  margin-left: 6px;
  direction: rtl;
}

.modal-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btn {
  padding: 10px 25px;
  border: 1.5px solid #1976d2;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  background: white;
}

.select {
  color: green;
}

.add {
  color: #1976d2;
}

.edit {
  color: #0b3c91;
}

.close {
  color: red;
}
