.shift-modal {
  position: fixed;
  top: 20%;
  left: 35%;
  width: 30%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  padding: 20px;
  z-index: 1002;
  font-family: Arial, sans-serif;
}

.shift-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.close-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.shift-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.shift-option {
  display: flex;
  align-items: center;
  background-color: #eef6ff;
  padding: 10px;
  border-radius: 8px;
  gap: 10px;
}

.icon {
  font-size: 28px;
}

.icon.blue {
  color: #007bff;
}

.icon.green {
  color: #28a745;
}

.key-label {
  font-size: 12px;
  color: gray;
}

.shift-text {
  background: #f8f8f8;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.shift-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.ok-btn,
.close-btn {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}



.close-btn {
  background-color: #e6f0ff;
  color: #c00;
}
