/* Transaction.css */
.transaction-modal {
  width: 900px;
  background: #fff;
  border: 3px solid #28a745;
  border-radius: 8px;
  padding: 10px;
  position: fixed;
  top: 10%;
  left: 25%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  font-family: sans-serif;
}

.transaction-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b0039;
  color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  font-size: 18px;
}

.transaction-body {
  display: flex;
  gap: 50px;
  padding: 10px;
}

.left-options {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 20px;
  width: 200px; /* Add this line to set fixed width */
}

.left-options button {
  padding: 8px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #ccc;
  background: #f9f9f9;
  border-radius: 4px;
}

.left-options button.selected {
  background-color: #007bff;
  color: white;
  border: 1px solid #0056b3;
}

.right-details {
  flex: 1;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 4px;
}

.input-group input,
.input-group textarea,
.input-group select {
  padding: 8px;
  font-size: 14px;
  width: 80%;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.transaction-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.ok-btn {
  background-color: #28a745;
  color: white;
  padding: 6px 16px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  min-width: 100px;
}

.ok-btn:disabled {
  background-color: rgb(2, 73, 43);
  cursor: not-allowed;
}

.cancel-btn {
  background-color: #d9534f;
  color: white;
  padding: 6px 16px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  min-width: 100px;
}

.close-btn {
  background-color: white;
  color: black;
  border: none;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
.simple-keyboard {
  margin-top: 20px;
  background: #d1cdea;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.simple-keyboard .hg-button {
  border-radius: 4px;
  font-size: 16px;
  margin: 5px;
}



